---
import { FaEnvelope, FaLinkedin } from "react-icons/fa6";
---

<div
  id="contact"
  class="flex flex-col items-center py-28 pb-20 gap-6 w-[80%] mx-auto"
>
  <h3 class="text-3xl laptop:text-5xl tablet:text-4xl font-bold text-center">
    Contact
  </h3>
  <h4 class="text-[#ffffff96] text-center">
    Don't doubt about contacting me to discuss how can I help your team!
  </h4>
  <div class="flex w-full justify-center gap-[120px] tablet:gap-[200px] mt-20">
    <a
      href="https://www.linkedin.com/in/delchiaroa/"
      target="_blank"
      class="scale-[4] tablet:scale-[5] cursor-pointer transition
       duration-200 text-white/50 hover:text-white/100"
    >
      <FaLinkedin />
    </a>
    <a
      href="mailto:anchibro@hotmail.com?subject=Let's work together!"
      target="_blank"
      class="scale-[4] tablet:scale-[5] cursor-pointer transition
       duration-200 text-white/50 hover:text-white/100"
    >
      <FaEnvelope />
    </a>
  </div>
</div>
