---
import { Image } from "astro:assets";

import netlify from "../../assets/logos/netlify.svg";
import js from "../../assets/logos/js.svg";
import { getCollection } from "astro:content";

interface ILogo {
  id: string;
  slug: string;
  body: string;
  collection: string;
  data: {
    name: string;
    logo: ImageMetadata;
    clas: string;
  };
}

const logos = await getCollection("logos");
console.log(logos);
---

<div class="flex items-center gap-14 flex-wrap">
  {
    logos.map((logo: ILogo) => {
      return (
        <div class="flex flex-col items-center min-h-[100px] laptop:min-h-[130px] gap-1 laptop:gap-3">
          <Image
            src={logo.data.logo}
            alt={`${logo.data.name} logo`}
            class={`max-w-[50px]`}
          />
          <span class="text-xs tablet:text-sm laptop:text-base text-center font-light tracking-wider text-[#ffffff96]">
            {logo.data.name}
          </span>
        </div>
      );
    })
  }
</div>
